<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>英語攻略</title>
  </head>
  
  <body class="bg-light">
  　<div class="container bg-white py-5 my-3">
     
       <h1 class="text-center py-3">国立大学生による英語攻略ぺーじ</h1>
       <p class="py-2">
            このサイトでは中学校の英文法の基本を楽しく学習できます（随時更新　高校編も作るつもりです）。学校の授業についていけなくなったのび太君たちや大人になって遂に勉強する気になった方々におすすめのサイトです！！頑張って作ったので冷やかしでもいいので見ていってあげてください。
       </p>
       
       <div id="mokuzi">
           <h2 class="py-3">目次</h2>
       </div>
       
       <div class="page-contents">
           <li>
               <a href="page1.1/">be動詞</a>
           </li>
           <li>
               <a href="/page1.2">一般動詞</a>
           </li>
           <li>
               <a href="/page1.3">疑問文</a>
           </li>
       </div>
           

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    </div>
  </body>
</html>